@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

.container{
  max-width: 1325px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
}

.header__nav{
  padding-top: 36px;
}

.header__content{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.header__list{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
}

.logo,
.header__link,
.header__account{
  text-decoration: none;
}

.logo{
  font-weight: 600;
  font-size: 33px;
  color: white;
}

.logo>span{
  font-weight: 400;
}

.header__link{
  font-weight: 500;
  color: white;
  font-size: 18px;
}

.header__account{
  width: 242px;
  height: 50px;
  background: #FF7B00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px;
}